
{% extends "base.html" %}

{% block content %}





<!-- Navigation -->
<nav class=" navbar navbar-expand-md navbar-light bg-white">

    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img clas="nav-logo" src="static/sad_twitter_logo.png" style="max-height: 60px;" alt=""><img src="static/logo.png" style="max-height: 60px;" alt=""></a>
    </div>

</nav>


<!--- Image Slider -->


<!--- Jumbotron -->

<div class="container pt-5 border-3 bg-black">

    <center>

        <h3 style="font-family: verdana;">{{ sentence }}</h3>

        <form action="/new" method="POST">
            <button class="btn btn-primary mt-3" type="submit" name="button" style="font-family: verdana;">New Sentence</button>
        </form>

    </center>

</div>


<!--- Welcome Section -->


<!--- Three Column Section -->


<!--- Two Column Section -->


<!--- Fixed background -->


<!--- Emoji Section -->


<!--- Meet the team -->


<!--- Cards -->


<!--- Two Column Section -->


<!--- Connect -->


<!--- Footer -->

{% endblock content %}
